/*de code hieronder zorgt ervoor dat mijn menu en mn achtergrond de goede formaat en kleur hebben en dat ze de goede positie aanenemen*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

li a:hover {
  background-color: #111;
}

body{
  background-color: #696969;
}
/*Dit is de code voor de footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/* Dit is de code voor het dropdown menu*/
.menu {
  position: relative;
  display: inline-block;
}

.item {
  padding: 14px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 150px;
  z-index: 1;
}

.item:hover > .submenu {
  display: block; /* Submenu tonen bij hover op de parent item */
}

.submenu .item {
  padding: 13px;
  color: white;
}

.submenu .item:hover {
  background-color: #555;
}

.submenu .submenu {
  left: 100%; /* Positioneer de derde laag naar rechts */
  top: 0;    /* Verticaal uitlijnen met de parent */
}

